:host{
    position: absolute;
    width: 1440px;
    height: 502px;
    left: 0px;
    top: 2420px;
    background: #094B72;
}
#div1{
    position: absolute;
    width: 160px;
    height: 30px;
    left:735px;
    top:99.24px;
/* Heading / H6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */
    font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 100 */
    color: #F4F5F7;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
#div2{
    position: absolute;
    width: 160px;
    height: 30px;
    left:925px;
    top:99.24px;

/* Heading / H6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */

    font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 100 */

    color: #F4F5F7;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
#div3{
    position: absolute;
    width: 160px;
    height: 30px;
    left:1115px;
    top:99.24px;

/* Heading / H6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */

    font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 100 */

    color: #F4F5F7;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.llabel{
    background-color:white;
    color: #0F6E8C;
    border-radius: 50%;
    font: 'Poppins';
    width: 54px;
    height: 54px;
    top:73px;
    //left: 161px;
    padding: 0;
    border: none;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 11.18%;
    right: 85.58%;
    //top: 0.89%;
    bottom: 98.12%;
}
.mtitle{
    position: absolute;
    height: 20px;
    left: 15.59%;
    right: 75.85%;
    top:68px;
    //top: calc(50% - 20px/2 - 1756.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
/* or 115% */   
    letter-spacing: 1.5px;
/* Neutral / Grey 7 */
    color: white;
    mix-blend-mode: normal;

}