<p class="maintitle">Why do we help with legalization?</p>
<p class="secontitle">We are here for UMKM in Indonesia to 
    carry out the legalization process, which is sometimes complicated.</p>
<span class="block1">
    <p class="title11">Enviromental Law</p>
    <p class="title12">Environmental legal issues might occur since the planned business activities are designed</p>
</span>
<span class="block2">
    <p class="title21">Corporate and Commercial</p>
    <p class="title22">We provide a complete range of services for the continuity of your business activities.</p>
</span>
<span class="block3">
    <p class="title31">Information and Technology</p>
    <p class="title32">IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty.</p>
</span>
<span class="block4">
    <p class="title41">Other Services</p>
    <p class="title42">In dealing with disruptive economic and legal challenge, our firm also provide various legal services.</p>
</span>
<img class="img1" src="\assets\Picture8.png" alt=""/>
<img class="img2" src="\assets\Picture9.png" alt=""/>
<img class="img3" src="\assets\Picture10.png" alt=""/>
<img class="img4" src="\assets\Picture11.png" alt=""/>
<img class="img5" src="\assets\Picture12.png" alt=""/>
<img class="img6" src="\assets\Picture13.png" alt=""/>
<img class="img7" src="\assets\Picture14.png" alt=""/>
<img class="img8" src="\assets\Picture15.png" alt=""/>
<img class="img9" src="\assets\Picture16.png" alt=""/>
<img class="img10" src="\assets\Picture17.png" alt=""/>