:host{
    position: absolute;
    width: 1440px;
    height: 786px;
    left: 0px;
    top: 1024px;
    background: #E8EEF6;
}
.maintitle{
    position: absolute;
    width: 419.31px;
    height: 291px;
    left: 167px;
    top: 174px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.323077px;
/* Neutral / Grey 7 */
    color: #2D2F30;
}
.secontitle{
    position: absolute;
    width: 384px;
    height: 144px;
    left: 175px;
    top: 332px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
/* or 180% */
    letter-spacing: 0.5px;
/* Neutral / Grey 5 */
    color: #8B8C8C;
}
.block1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 18px;

    position: absolute;
    width: 256px;
    height: 253px;
    left: 600px;
    top: 126px;

    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.title11{
    position: absolute;
    width: 181px;
    height: 44px;
    top: 70px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    /* or 100% */
    letter-spacing: 0.5px;
    /* Text */
    color: #363940;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title12{
    position: absolute;
    width: 210px;
    height: 96px;
    top:130px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.3px;

/* Neutral / Grey 5 */

    color: #8B8C8C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
.block2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 18px;

    position: absolute;
    width: 255px;
    height: 253px;
    left: 925px;
    top: 126px;

    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.title21{
    position: absolute;
    width: 269px;
    height: 44px;
    top:70px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    /* or 100% */
    
    letter-spacing: 0.5px;
    
    /* Text */
    
    color: #363940;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title22{
    position: absolute;
    width: 206px;
    height: 72px;
    top:130px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.3px;

    /* Neutral / Grey 5 */

    color: #8B8C8C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.block3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 18px;

    position: absolute;
    width: 252px;
    height: 253px;
    left: 600px;
    top: 450px;

    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    }
.title31{
    position: absolute;
    width: 271px;
    height: 44px;
    top:70px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    /* or 100% */

    letter-spacing: 0.3px;

/* Text */

    color: #363940;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.title32{
    position: absolute;
    width: 210px;
    height: 96px;
    top:130px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: 0.3px;

/* Neutral / Grey 5 */

    color: #8B8C8C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.block4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 18px;

    position: absolute;
    width: 259px;
    height: 255px;
    left: 925px;
    top: 450px;

    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.title41{
    position: absolute;
    width: 149px;
    height: 22px;
    top:70px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */


    /* Text */

    color: #363940;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
.title42{
    position: absolute;
    width: 223px;
    height: 96px;
    top:130px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.3px;

/* Neutral / Grey 5 */

    color: #8B8C8C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.img1{
    position:absolute;
    top:153.08px;
    left:635.52px;
    width:21.4px;
}
.img2{
    position:absolute;
    top:158.72px;
    left:628.75px;
    width:21.4px;
}
.img3{
    position:absolute;
    top:165.72px;
    left:620.75px;
    width:21.4px;
}
.img4{
    position:absolute;
    top:165.72px;
    left:950.75px;
    width:30.83px;
}
.img5{
    position:absolute;
    top:490.72px;
    left:620.75px;
    width:28.73px;
}
.img6{
    position:absolute;
    top:496.72px;
    left:614.75px;
    width:28.73px;
}
.img7{
    position:absolute;
    top:495.72px;
    left:950.75px;
    width:31.6px;
}
.img8{
    position:absolute;
    top:504.72px;
    left:969.75px;
    width:15.42px;
}
.img9{
    position:absolute;
    top:495.72px;
    left:953.75px;
    width:10.79px;
}
.img10{
    position:absolute;
    top:486.72px;
    left:959.75px;
    width:16.96px;
}