:host{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2850.7px;
    bottom: 19.09%;

    background: #004D7B;
    mix-blend-mode: normal;
}
p{
    position: absolute;
    height: 23.12px;
    left: 11.46%;
    right: 72.57%;


    /* Body / Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 300 */

    color: #D9DBE1;
}
.icon1{
    position: absolute;
    left: 1136.6px;
    right: 290.6px;
    top: 28.29px;
    bottom: 28.29px;
}
.icon2{
    position: absolute;
    left: 1176.6px;
    right: 250.6px;
    top: 28.29px;
    bottom: 28.31px;
}
.icon3{
    position: absolute;
    left: 1217px;
    right: 211.38px;
    top: 29.89px;
    bottom: 28.29px;
}
.icon4{
    position: absolute;
    left: 1256.6px;
    right: 170.6px;
    top: 30.29px;
    bottom: 28.29px;
}